<div class="row">
	<div class="col-lg-4 col-md-4 col-12">
		<div class="div">
			<mdb-card>
				<div class="view overlay waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Desarrollo web front-end</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
					</mdb-card-text>

					<a href="#" mdbBtn color="primary" mdbWavesEffect>Apúntate</a>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-12">
		<div class="div">
			<mdb-card>
				<div class="view overlay waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Desarollo back-end</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
					</mdb-card-text>

					<a href="#" mdbBtn color="primary" mdbWavesEffect>Apúntate</a>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-12">
		<div class="div">
			<mdb-card>
				<div class="view overlay waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Diseño UX/UI</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
					</mdb-card-text>

					<a href="#" mdbBtn color="primary" mdbWavesEffect>Apúntate</a>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
</div>
<div class="row margin">
	<div class="col-lg-4 col-4">
		<div class="div">
			<mdb-card>
				<div class="view overlay waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Desarrollo de aplicaciones Android</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
					</mdb-card-text>

					<a href="#" mdbBtn color="primary" mdbWavesEffect>Apúntate</a>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
	<div class="col-lg-4 col-4">
		<div class="div">
			<mdb-card>
				<div class="view overlay waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Desarrollo de videojuegos</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
					</mdb-card-text>

					<a href="#" mdbBtn color="primary" mdbWavesEffect>Apúntate</a>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
	<div class="col-lg-4 col-4">
		<div class="div">
			<mdb-card>
				<div class="view overlay waves-light" mdbWavesEffect>
					<!-- Card img -->
					<mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap"></mdb-card-img>
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<!--Card content-->
				<mdb-card-body>
					<!--Title-->
					<mdb-card-title>
						<h4>Seguridad informática</h4>
					</mdb-card-title>

					<!--Text-->
					<mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content.
					</mdb-card-text>

					<a href="#" mdbBtn color="primary" mdbWavesEffect>Apúntate</a>
				</mdb-card-body>
			</mdb-card>
		</div>
	</div>
</div>